<app-header></app-header>
<div class="container">
  <h3>Create Product</h3>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="code" class="col-sm-2 col-form-label">Code</label>
      <div class="col-sm-8">
        <input type="text" id="name" class="form-control" formControlName="code" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="name" formControlName="name" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="weight" class="col-sm-2 col-form-label">Weight</label>
      <div class="col-sm-8">
        <input type="text" id="weight" class="form-control" formControlName="weight">
      </div>
    </div>
    <div class="form-group row">
      <label for="price" class="col-sm-2 col-form-label">Price</label>
      <div class="col-sm-8">
        <input type="text" id="price" class="form-control" formControlName="price" #priceInputRef>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row ">
        <legend class="col-form-label col-sm-2 pt-0"></legend>
        <div class="col-sm-8">
          <div *ngIf="!status" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!</strong> Please check backend log
          </div>
          <div class="btn-group btn-group-sm" role="group">
            <button type="submit" class="btn btn-success" [disabled]="!productForm.valid">Save</button>
            <button type="submit" class="btn btn-warning" [routerLink]="'/product'">Cancel</button>
            <button type="reset" class="btn btn-danger">reset</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
