<app-header></app-header>
<!-- <div class="container">
  <h3>Product</h3>
  <div class="btn-group btn-group-sm" role="group">
    <button type="button" class="btn btn-primary" [routerLink]="['/product-create']" routerLinkActive="active">Add</button>
  </div>
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr class="table-info">
        <th>Id</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" [routerLink]="['/product-detail/', product.id]">
        <td>{{product.id}}</td>
        <td>{{product.code}}</td>
        <td>{{product.name}}</td>
        <td>{{product.weight}}</td>
        <td>{{product.price}}</td>
      </tr>
    </tbody>
  </table>
</div> -->
<div *ngIf="!sessionActive" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong (click)="directToLogin()">Session Expired</strong> Please login again!
</div>
<div class="container">
  <br>
  <mat-card>
    <h3>Product</h3>
    <div class="button-row">
      <a mat-raised-button color="primary" [routerLink]="['/product-create']" routerLinkActive="active">
        <mat-icon>add</mat-icon>
      </a>
    </div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="rows" matSort>

        <!-- ID Column -->
        <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container> -->

        <!-- Code Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
          <td mat-cell *matCellDef="let element" class="unique-col"> {{element.code}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price | currency :'IDR':false:'1.2-2'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/product-detail/', row.id]"></tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>
</div>