<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">Product Catalog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="'/product'" [routerLinkActive]="'active'">Product<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="'/upload-file'" [routerLinkActive]="'active'">Upload File</a>
      <a class="nav-item nav-link" [routerLink]="'/'" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
