<app-header></app-header>
<div class="container">
  <h3>Detail Product</h3>
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h5>{{product.id}}</h5>
      </div>
      <div class="card-subtitle">
        <h6>{{product.name}}</h6>
      </div>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{product.code}}</li>
        <li class="list-group-item">{{product.weight}}</li>
        <li class="list-group-item">{{product.price}}</li>
      </ul>
    </div>
    <div class="card-footer">
      <div class="btn-group btn-group-sm" role="group">
        <a class="btn btn-primary" [routerLink]="['/product-edit', product.id]">Edit</a>
        <a class="btn btn-warning" [routerLink]="'/product'">Cancel</a>
        <a class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</a>
      </div>
    </div>
  </div>
</div>
