<div class="container">
  <h3>Product</h3>
  <div class="btn-group btn-group-sm" role="group">
    <button type="button" class="btn btn-primary"
      [routerLink]="['/product-create']"
      routerLinkActive="active">
      Add
    </button>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products"
        [routerLink]="['/product-detail/', product.id]">
        <td>{{product.id}}</td>
        <td>{{product.code}}</td>
        <td>{{product.name}}</td>
        <td>{{product.weight}}</td>
        <td>{{product.price}}</td>
      </tr>
    </tbody>
  </table>
</div>
