<div class="container">
  <h3>Product</h3>
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr class="table-info">
        <th>Id</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.code}}</td>
        <td>{{product.name}}</td>
        <td>{{product.weight}}</td>
        <td>{{product.price}}</td>
      </tr>
    </tbody>
  </table>
</div>
