<div class="container">
  <h3>Input File</h3>
  <form class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group row">
      <label for="price" class="col-sm-2 col-form-label">File</label>
      <div class="col-sm-8">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input #fileInput class="custom-file-input" type="file" id="file"
              name="file" [multiple]=true (change)="selectFile($event)">
            <label class="custom-file-label" for="file">Choose file</label>
          </div>
        </div>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row ">
        <legend class="col-form-label col-sm-2 pt-0"></legend>
        <div class="col-sm-8">
          <div *ngIf="fileName.length > 0" class="alert alert-info
            alert-dismissible fade show" role="alert">
            {{fileName}}
          </div>
          <div *ngIf="!status" class="alert alert-danger
            alert-dismissible fade show" role="alert">
            <strong>Error!</strong> Please check backend log
          </div>
          <div *ngIf="complete" class="alert alert-success
            alert-dismissible fade show" role="alert">
            <strong>Success</strong> File is completely uploaded!
          </div>
          <div *ngIf="currentFileUpload" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped"
              role="progressbar"
              attr.aria-valuenow="{{progress.percentage}}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{width:progress.percentage+'%'}">
              {{progress.percentage}}%
            </div>
          </div>
          <div class="btn-group btn-group-sm" role="group">
            <button class="btn btn-primary" [disabled]="!disableBtn"
              (click)="doUpload()">Upload</button>
            <button class="btn btn-danger" (click)="doReset()">Reset</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
